# Strings

In [8]:
a = "Hello, "
b = "World"
print ('"' + a + '" + "' + b + '"' + ' = ' + '"' + a + b + '"')

"Hello, " + "World" = "Hello, World"

In [12]:
a = '"Hello, "'
b = '"World"'
print (a + ' + ' + b + ' = ' + a + b)

"Hello, " + "World" = "Hello, ""World"

# Integers

In [ ]:
a = 1234
b = 5

In [ ]:
total = a + b
diff  = a - b
prod  = a * b
quot  = a // b
rem   = a % b
exp   = a ** b

In [ ]:
print(str(a) + ' +  ' + str(b) + ' = ' + str(total))
print(str(a) + ' -  ' + str(b) + ' = ' + str(diff))
print(str(a) + ' *  ' + str(b) + ' = ' + str(prod))
print(str(a) + ' // ' + str(b) + ' = ' + str(quot))
print(str(a) + ' %  ' + str(b) + ' = ' + str(rem))
print(str(a) + ' ** ' + str(b) + ' = ' + str(exp))

1234 +  5 = 1239
1234 -  5 = 1229
1234 *  5 = 6170
1234 // 5 = 246
1234 %  5 = 4
1234 ** 5 = 2861381721051424

# Float operators

In [ ]:
a = 123.456
b = 78.9

In [ ]:
total = a + b
diff  = a - b
prod  = a * b
quot  = a / b
exp   = a ** b

In [ ]:
print(str(a) + ' +  ' + str(b) + ' = ' + str(total))
print(str(a) + ' -  ' + str(b) + ' = ' + str(diff))
print(str(a) + ' *  ' + str(b) + ' = ' + str(prod))
print(str(a) + ' /  ' + str(b) + ' = ' + str(quot))
print(str(a) + ' ** ' + str(b) + ' = ' + str(exp))

123.456 +  78.9 = 202.356
123.456 -  78.9 = 44.556
123.456 *  78.9 = 9740.6784
123.456 /  78.9 = 1.5647148288973383
123.456 ** 78.9 = 1.0478827916671325e+165

# Leap year

In [13]:
year = int (input("Entre com um ano: "))
isLeapYear = (year % 4 == 0)
isLeapYear = isLeapYear and ((year % 100) != 0)
isLeapYear = isLeapYear or  ((year % 400) == 0)
print (isLeapYear)

Entre com um ano: 2000
True